/*****************************************************************************/
/* Base */
/*****************************************************************************/
body {
  background-color: #eee;
}

.mainContent {
  margin: 0 auto;
  max-width: 1170px;

  background-color: #fff;
  box-shadow: 6px 0 5px -5px #ccc, -6px 0 5px -5px #ccc;
}
