{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination %}

{% block primary_content %}
  {{ object }}

  {% for player in players %}
    <ul>
      <li>
        <a href="{{ url('players:player', kwargs={'slug': player.slug}) }}">{{ player }} - {{ player.overall_rating }}</a>
      </li>

      <li>
        <a href="{{ url('nations:nation', kwargs={'slug': player.nation.slug}) }}">{{ player.nation }}</a>
      </li>

      <li>
        <a href="{{ url('leagues:league', kwargs={'slug': player.league.slug}) }}">{{ player.league }}</a>
      </li>

      <li>
        <a href="{{ url('clubs:club', kwargs={'slug': player.club.slug}) }}">{{ player.club }}</a>
      </li>
    </ul>
  {% endfor %}

  {{ pagination.pagination(players) }}
{% endblock %}
