{% extends 'base.html' %}
{% import 'cards/macros/player.html' as player_card %}

{% block primary_content %}
  {{ player_card.card(player) }}

  <ul>
    <li>Club: {{ player.club }}</li>
    <li>League: {{ player.league }}</li>
    <li>Nation: {{ player.nation }}</li>

    <li>Source: {{ player.player_type|capitalize }}</li>
  </ul>

  <div class="list list-inline has-threeCol">
    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.pace_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.shooting_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.passing_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.dribbling_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.defending_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="list_item">
      <ul class="list">
        {% for label, stat in player.physicality_stats() %}
          <li class="list_item">{{ label|capitalize }} - {{ stat }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <ul>
    <li>Age: {{ player.age() }}</li>
    <li>Foot: {{ player.preferred_foot }}</li>
    <li>Height: {{ player.height }}cm | {{ player.height|height_imperial }}</li>
    <li>Weight: {{ player.weight }}</li>
    <li>Position: {{ player.position }}</li>
    <li>ATT Workrate: {{ player.workrate_att }}</li>
    <li>DEF Workrate: {{ player.workrate_def }}</li>
    <li>Skill moves: {{ '<i class="fa fa-star"></i>'|safe * player.skill }}</li>
    <li>Skill moves: {{ '<i class="fa fa-star"></i>'|safe * player.weak_foot }}</li>
  </ul>

  <ul>
    <li>
      Traits:

      <ul>
        {% for trait in player.traits %}
          <li>{{ trait }}</li>
        {% endfor %}
      </ul>
    </li>

    <li>
      Specialities:

      <ul>
        {% for speciality in player.specialities %}
          <li>{{ speciality }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>

{% endblock %}
