{% extends 'base.html' %}

{% block primary_content %}
  <ul>
    {% for player in players %}
      <li>
        <a href="{{ url('players:player', kwargs={'slug': player.slug}) }}">{{ player }} - {{ current_url }}</a>

        <ul>
          {# Potentially poor way to do it #}
          <li>
            <a href="{{ build_url('players:list', request=request.GET, get={'nation': player.nation.id}) }}">{{ player.nation }}</a>
          </li>
          <li>
            <a href="{{ build_url('players:list', request=request.GET, get={'league': player.league.id}) }}">{{ player.league }}</a>
          </li>
          <li>
            <a href="{{ build_url('players:list', request=request.GET, get={'club': player.club.id}) }}">{{ player.club }}</a>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>

  <form action="{{ url('players:list') }}" method="get">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {{ form.as_p() }}

    <input type="submit">
  </form>
{% endblock %}
