/*****************************************************************************/
/* EA Colors */
/*****************************************************************************/
$EA-Bronze: #8d5234;
$EA-Silver: #676768;
$EA-Gold: #a68503;

$EA-TOTW: #242424;
$EA-TOTS: #102f52;
$EA-MOTM: #a85616;
$EA-Green: #2f5429;
$EA-Futties: #913f56;
$EA-LegendLight: #eaeaea;
$EA-LegendColor: #ab8c4a;
$EA-EASports: #9a4939;
