<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="robots" content="{% block meta_robots %}{% endblock meta_robots %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="{{ static('bundles/styles.css') }}" rel="stylesheet" type="text/css">

    <title>{% block title %}{% endblock title %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    {# Roboto font import #}
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    {# Font Awesome #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    {% block extra_styles %}{% endblock %}
    {% block head_js %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    <header class="headerStrip">
      <div class="container">
        <nav class="headerStrip_nav from-left">
          <ul class="[ list list-nav list-inline ]">
            <li class="list_item"><a href="{{ url('players:list') }}">Players</a></li>
            <li class="list_item"><a href="{{ url('clubs:list') }}">Clubs</a></li>
            <li class="list_item"><a href="{{ url('leagues:list') }}">Leagues</a></li>
            <li class="list_item"><a href="{{ url('nations:list') }}">Nations</a></li>
            <li class="list_item"><a href="{{ url('nations:list') }}">Squads</a></li>
          </ul>
        </nav>

        <a href="/" class="logo headerStrip_logo"></a>

        <nav class="headerStrip_nav from-right">
          <ul class="[ list list-nav list-inline is-reversed ]">
            <li class="list_item"><a href="{{ url('players:list') }}">Players</a></li>
            <li class="list_item"><a href="{{ url('clubs:list') }}">Clubs</a></li>
            <li class="list_item"><a href="{{ url('leagues:list') }}">Leagues</a></li>
            <li class="list_item"><a href="{{ url('nations:list') }}">Nations</a></li>
            <li class="list_item"><a href="{{ url('nations:list') }}">Squads</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="mainContent">
      <div class="controlStrip">
        <div class="container">
          {% block control_strip %}{% endblock %}
        </div>
      </div>

      <div class="container">
        {% block primary_content %}
          Hey :)
        {% endblock primary_content %}
      </div>
    </div>

    {% block end_js %}{% endblock %}
    {{ render_bundle('main') }}
    <script>
      (function (d) {
        var config = {
              kitId: 'uid8ndh',
              scriptTimeout: 3000,
              async: true
            },
            h = d.documentElement, t = setTimeout(function () {h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";}, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
        h.className += " wf-loading";
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded")return;
          f = true;
          clearTimeout(t);
          try {Typekit.load(config)} catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);
    </script>
  </body>
</html>
