<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="robots" content="{% block meta_robots %}{% endblock meta_robots %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    {#    <link href="{{ static('css/main.css') }}" rel="stylesheet" type="text/css">#}

    <title>{% block title %}{% endblock title %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    {# Font Awesome #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    {#    {{ render_bundle('main', 'css')|safe }}#}
    <link href="{{ static('css/main.css') }}" rel="stylesheet" type="text/css">

    {% block extra_styles %}{% endblock %}
    {% block head_js %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {#    <script>#}
    {#      (function (d) {#}
    {#        var config = {#}
    {#              kitId: 'uid8ndh',#}
    {#              scriptTimeout: 3000,#}
    {#              async: true#}
    {#            },#}
    {#            h = d.documentElement, t = setTimeout(function () {h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";}, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;#}
    {#        h.className += " wf-loading";#}
    {#        tk.src = '//use.typekit.net/' + config.kitId + '.js';#}
    {#        tk.async = true;#}
    {#        tk.onload = tk.onreadystatechange = function () {#}
    {#          a = this.readyState;#}
    {#          if (f || a && a != "complete" && a != "loaded")return;#}
    {#          f = true;#}
    {#          clearTimeout(t);#}
    {#          try {Typekit.load(config)} catch (e) {}#}
    {#        };#}
    {#        s.parentNode.insertBefore(tk, s)#}
    {#      })(document);#}
    {#    </script>#}

  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    <header class="headerStrip">
      <div class="container">
        <div class="menu">
          <a class="menu_item is-header" href="#">FUTMoz</a>
          <div class="menu_item">
            <div class="input is-naked has-icon">
              <input type="text" placeholder="Search...">
              <i class="icon [ fa fa-search ]"></i>
            </div>
          </div>
          <a class="menu_item" href="{{ url('players:list') }}">Players</a>
          <a class="menu_item" href="{{ url('clubs:list') }}">Clubs</a>
          <a class="menu_item" href="{{ url('leagues:list') }}">Leagues</a>
          <a class="menu_item" href="{{ url('nations:list') }}">Nations</a>
          <a class="menu_item" href="{{ url('nations:list') }}">Squads</a>

          <a href="#" class="menu_item menu_right"><i class="icon [ fa fa-key ]"></i> Log in</a>
          <a href="#" class="menu_item"><i class="icon fa fa-user"></i> User</a>
        </div>
      </div>
    </header>

    <div class="mainContent">
      <div class="darkStrip">
        <div class="container">
          {% block darkStrip %}

          {% endblock %}
        </div>
      </div>

      <div class="controlStrip">
        <div class="container">
          {% block control_strip %}{% endblock %}
        </div>
      </div>

      <div class="container">
        {% block primary_content %}
          Hey :)
        {% endblock primary_content %}
      </div>
    </div>

    <div id="PlayerSearch"></div>

    <script src="{{ static('js/main.js') }}"></script>
    {#    {{ render_bundle('main', 'js')|safe }}#}

    {% block end_js %}{% endblock %}
  </body>
</html>
