/*****************************************************************************/
/* Config */
/*****************************************************************************/
@import "config";

/*****************************************************************************/
/* Bootstrap */
/*****************************************************************************/
// @import "bootstrap";
@import "normalize";

/*****************************************************************************/
/* Helpers */
/*****************************************************************************/
@import "helpers/grid";
@import "helpers/media-queries";
@import "helpers/mixins";
@import "helpers/variables";

/*****************************************************************************/
/* Base */
/*****************************************************************************/
@import "base/layout";
@import "base/menu";
@import "base/type";

/*****************************************************************************/
/* Components */
/*****************************************************************************/
@import "components/cards";
@import "components/forms";
@import "components/labels";
@import "components/lists";
@import "components/ribbons";
@import "components/tables";

/* ---------------- /
Players
/ ---------------- */
@import "components/players/player";
@import "components/players/playerList";

.is-stacked {
  padding-bottom: 3px;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 6px;
    width: 100%;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(34, 36, 38, .15);
  }
}

.media {
  display: inline-flex;
  align-items: center;

  height: 40px;
  vertical-align: middle;

  img {
    margin-right: 5px;
  }

  .media_content {
    display: flex;
    flex-direction: column;

    a {
      line-height: 20px;
      font-weight: 700;

      color: rgba(0, 0, 0, .87);
    }

    span {
      height: 20px;

      a {
        display: inline-flex;
      }
    }
  }
}
