/*****************************************************************************/
/* Labels */
/*****************************************************************************/
.label {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;

  background-color: #e8e8e8;
  border-color: rgba(0, 0, 0, .15);
}
