/*****************************************************************************/
/* Body */
/*****************************************************************************/
body {
  color: #444;
  font-family: 'proxima-nova', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*****************************************************************************/
/* Anchors */
/*****************************************************************************/
a {
  text-decoration: none;
}
