{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination %}

{% block primary_content %}
  {{ object }}

  {{ object.player_average_rating }}
  {{ object.player_count }}
  {{ object.player_count_special }}
  {{ object.player_count_gold }}
  {{ object.player_count_silver }}
  {{ object.player_count_bronze }}

  <ul>
    <li>
      Level

      <ul>
        {% for value, option in levels %}
          <li>
            <a href="{{ build_url('nations:nation', request=request.GET, get={'color': value}, kwargs={'slug': object.slug}) }}">{{ option }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>

  {% for player in players %}
    <ul>
      <li>
        <a href="{{ url('players:player', kwargs={'slug': player.slug}) }}">{{ player }} - {{ player.overall_rating }}</a>
      </li>

      <li>
        <a href="{{ url('nations:nation', kwargs={'slug': player.nation.slug}) }}">{{ player.nation }}</a>
      </li>

      <li>
        <a href="{{ url('leagues:league', kwargs={'slug': player.league.slug}) }}">{{ player.league }}</a>
      </li>

      <li>
        <a href="{{ url('clubs:club', kwargs={'slug': player.club.slug}) }}">{{ player.club }}</a>
      </li>
    </ul>
  {% endfor %}

  {{ pagination.pagination(players) }}

{% endblock %}
