.action {
  background: tomato;
  color: white; }
body {
  font-family: sans-serif;
  background: #fefefe;
  background-image: url(/static/97744c61e08568b96b0584260e8784e7.jpg);
  background-size: cover; }
