/*****************************************************************************/
/* Base header */
/*****************************************************************************/
.headerStrip {
  display: flex;
  align-items: center;

  height: 60px;

  color: #a8a8a8;

  .container {
    position: relative;

    flex: 1;
  }
}

/*****************************************************************************/
/* Navigation */
/*****************************************************************************/
.headerStrip_nav {
  display: inline-flex;

  &.from-right {
    float: right;
  }

  a {
    color: inherit;
  }
}

/*****************************************************************************/
/* Logo */
/*****************************************************************************/
.headerStrip_logo {
  position: absolute;
  top: -10px;
  left: calc(50% - 100px);

  display: block;
  height: 110px;
  margin: 0 auto;
  width: 200px;

  background-color: #3393ff;
  background-image: url('../img/logo.png');
}
