/*****************************************************************************/
/* Base */
/*****************************************************************************/
ul[class] {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*****************************************************************************/
/* Inline */
/*****************************************************************************/
.list-inline {
  display: flex;

  &.is-reversed {
    flex-direction: row-reverse;
  }
}

/*****************************************************************************/
/* Nav */
/*****************************************************************************/
.list-nav {
  &.is-reversed {
    .list_item:first-child {
      margin-right: 0;

      a {
        padding-right: 0;
      }
    }
  }

  .list_item {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 0;
    padding-left: 0;

    a {
      display: inline-flex;

      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 5px;
    }
  }
}
